<!DOCTYPE html>
<meta charset="utf-8">
<h1>RRB Full-Run Distribution by Ruby Version </h1>
<svg width="512" height="384"></svg>
<ul id="legend">
</ul>
<script src="d3.v4.min.js"></script>
<script src="jquery-3.3.1.min.js"></script>
<script>

<%
  require "json"
  require_relative "graph_library"

  cohort_data = JSON.parse(File.read "pre3_data/process_output.json")

  cohorts = cohort_data["processed"]["cohort"].keys.sort
  cohorts.delete("ruby-2.6.0-preview3,-rbundler/setup --jit")  # No useful data
  cohort_aliases = {
    "ext-mri-2.5.0,-rbundler/setup" => "2.5.0",
    "ruby-2.6.0-preview3,-rbundler/setup" => "2.6pre3 no JIT",
    "ext-mri-before-bundler-change,-rbundler/setup" => "pre_bundle no JIT",
    "ext-mri-before-bundler-change,-rbundler/setup --jit" => "pre_bundle w/ JIT",
  }

  runs = {}
  cohorts.each do |cohort|
    d = cohort_data["run_by_cohort"][cohort]
    runs[cohort_aliases[cohort]] = d.inject([], &:+).sort
  end

  # Set up a simple mutually-contrasty palette
  num_palette_entries = cohort_aliases.size
  entries = contrast_palette(num_palette_entries)
  stroke_by_ruby = {}
  cohort_aliases.values.each_with_index { |ruby, idx| stroke_by_ruby[ruby] = entries[idx] }

%>

var svg = d3.select("svg"),
    margin = {top: 20, right: 20, bottom: 30, left: 50},
    width = +svg.attr("width") - margin.left - margin.right,
    height = +svg.attr("height") - margin.top - margin.bottom,
    g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var parseTime = d3.timeParse("%d-%b-%y");

var x = d3.scaleLinear()
    .rangeRound([0, width]);

var y = d3.scaleLinear()
    .rangeRound([height, 0]);

var line = d3.line()
    .x(function(d) { return x(d.x); })
    .y(function(d) { return y(d.y); });

var graph_data = [
  <% cohorts.each do |cohort| %>
  {
    name: <%= cohort_aliases[cohort].inspect %>,
    cohort: <%= cohort.inspect %>,
    stroke: <%= stroke_by_ruby[cohort_aliases[cohort]].inspect %>,
    coords: [
    <% runs[cohort_aliases[cohort]].each_with_index do |run, idx|
         fraction = idx.to_f / runs[cohort_aliases[cohort]].size
     %>
      { x: <%= fraction.inspect %>, y: <%= run.inspect %> },
    <% end %>
    ]
  },
  <% end %>
  {} // Final empty element, added for comma-related convenience.
];

graph_data.pop();

var min_x = graph_data[0].coords[0].x;
var max_x = graph_data[0].coords[0].x;
var min_y = graph_data[0].coords[0].y;
var max_y = graph_data[0].coords[0].y;
graph_data.forEach(function(single_line) {
  min_x = Math.min(min_x, single_line.coords[0].x);
  max_x = Math.max(max_x, single_line.coords[single_line.coords.length - 1].x);
  min_y = Math.min(min_y, single_line.coords[0].y);
  max_y = Math.max(max_y, single_line.coords[single_line.coords.length - 1].y);
});
x.domain([min_x, max_x]);
y.domain([min_y, max_y]);

g.append("g")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x))
  .select(".domain")
    .remove();

g.append("g")
    .call(d3.axisLeft(y))
  .append("text")
    .attr("fill", "#000")
    .attr("transform", "rotate(-90)")
    .attr("y", 6)
    .attr("dy", "0.71em")
    .attr("text-anchor", "end")
    .text("time (sec)");

<% cohorts.each_with_index do |cohort, index|
  stroke_color = stroke_by_ruby[cohort_aliases[cohort]]
%>
  g.append("path")
      .datum(graph_data[<%= index %>].coords)
      .attr("fill", "none")
      .attr("stroke", <%= stroke_color.inspect %>)
      .attr("stroke-linejoin", "round")
      .attr("stroke-linecap", "round")
      .attr("stroke-width", 1.5)
      .attr("d", line);

  $("ul#legend").append("<li><span style='color: <%= stroke_color %>'><%= cohort_aliases[cohort] %></span></li>");
<% end %>

</script>
